body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:294px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:988px;
  width:555px;
  height:294px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1147px;
  width:0px;
  height:0px;
}
#u165_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-113px;
  width:8px;
  height:113px;
}
#u165_seg1 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-113px;
  width:94px;
  height:8px;
}
#u165_seg2 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-118px;
  width:18px;
  height:18px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:1146px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-111px;
  width:8px;
  height:111px;
}
#u166_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-111px;
  width:90px;
  height:8px;
}
#u166_seg2 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-116px;
  width:18px;
  height:18px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-104px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:31px;
  width:143px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:119px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:400px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:71px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:490px;
  width:143px;
  height:71px;
  font-size:16px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:139px;
  word-wrap:break-word;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:662px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:662px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:790px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:893px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:304px;
  width:143px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1012px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:90px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1349px;
  width:143px;
  height:90px;
  font-size:16px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:139px;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1369px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:82px;
  width:0px;
  height:0px;
}
#u179_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u179_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:304px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1013px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:90px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1098px;
  width:143px;
  height:90px;
  font-size:16px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:139px;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:90px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1098px;
  width:143px;
  height:90px;
  font-size:16px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:139px;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:1127px;
  width:104px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:314px;
  width:104px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:1378px;
  width:104px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:451px;
  width:0px;
  height:0px;
}
#u187_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u187_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:18px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:561px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u188_seg1 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:58px;
  width:128px;
  height:8px;
}
#u188_seg2 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:58px;
  width:8px;
  height:43px;
}
#u188_seg3 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:89px;
  width:18px;
  height:18px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:561px;
  width:0px;
  height:0px;
}
#u189_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u189_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:57px;
  width:142px;
  height:8px;
}
#u189_seg2 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:57px;
  width:8px;
  height:44px;
}
#u189_seg3 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:89px;
  width:18px;
  height:18px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:526px;
  width:0px;
  height:0px;
}
#u190_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u190_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:140px;
}
#u190_seg2 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:124px;
  width:18px;
  height:18px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:584px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:517px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:713px;
  width:0px;
  height:0px;
}
#u193_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u193_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:32px;
  width:128px;
  height:8px;
}
#u193_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:32px;
  width:8px;
  height:46px;
}
#u193_seg3 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:65px;
  width:18px;
  height:18px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:713px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u194_seg1 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:32px;
  width:142px;
  height:8px;
}
#u194_seg2 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:32px;
  width:8px;
  height:46px;
}
#u194_seg3 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:65px;
  width:18px;
  height:18px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:841px;
  width:0px;
  height:0px;
}
#u195_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u195_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:330px;
  width:0px;
  height:0px;
}
#u196_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u196_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-9px;
  width:18px;
  height:18px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:330px;
  width:0px;
  height:0px;
}
#u197_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u197_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-9px;
  width:18px;
  height:18px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:1063px;
  width:0px;
  height:0px;
}
#u198_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u198_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:23px;
  width:18px;
  height:18px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1143px;
  width:0px;
  height:0px;
}
#u199_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u199_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-9px;
  width:18px;
  height:18px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1143px;
  width:0px;
  height:0px;
}
#u200_seg0 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:63px;
  height:8px;
}
#u200_seg1 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:-9px;
  width:18px;
  height:18px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1064px;
  width:0px;
  height:0px;
}
#u201_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u201_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:18px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1394px;
  width:0px;
  height:0px;
}
#u202_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:58px;
  height:8px;
}
#u202_seg1 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:1394px;
  width:0px;
  height:0px;
}
#u203_seg0 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-4px;
  width:60px;
  height:8px;
}
#u203_seg1 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-4px;
  width:8px;
  height:9px;
}
#u203_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-3px;
  width:21px;
  height:8px;
}
#u203_seg3 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-8px;
  width:18px;
  height:18px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1485px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1439px;
  width:0px;
  height:0px;
}
#u205_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u205_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:1420px;
  width:0px;
  height:0px;
}
#u206_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u206_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:18px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:1135px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1135px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1229px;
  width:104px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:1188px;
  width:0px;
  height:0px;
}
#u210_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u210_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:1229px;
  width:104px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:1202px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1188px;
  width:0px;
  height:0px;
}
#u213_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u213_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:1202px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:1282px;
  width:0px;
  height:0px;
}
#u215_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u215_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:40px;
}
#u215_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:197px;
  height:8px;
}
#u215_seg3 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:33px;
  width:8px;
  height:34px;
}
#u215_seg4 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:54px;
  width:20px;
  height:20px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:41px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:298px;
  width:300px;
  height:80px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1103px;
  width:300px;
  height:80px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1386px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:1460px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1111px;
  width:300px;
  height:48px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1678px;
  width:300px;
  height:80px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1372px;
  width:300px;
  height:48px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:211px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:170px;
  width:0px;
  height:0px;
}
#u224_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u224_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:90px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1499px;
  width:143px;
  height:90px;
  font-size:16px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:139px;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1678px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1678px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1678px;
  width:143px;
  height:51px;
  font-size:16px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:1544px;
  width:0px;
  height:0px;
}
#u229_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u229_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-4px;
  width:8px;
  height:138px;
}
#u229_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:122px;
  width:18px;
  height:18px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1544px;
  width:0px;
  height:0px;
}
#u230_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u230_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:8px;
  height:138px;
}
#u230_seg2 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:122px;
  width:18px;
  height:18px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:1536px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1536px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1704px;
  width:0px;
  height:0px;
}
#u233_seg0 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-4px;
  width:98px;
  height:8px;
}
#u233_seg1 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-9px;
  width:18px;
  height:18px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(103, 194, 58, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:241px;
  width:143px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:139px;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:1881px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u236 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:262px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u236_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:18px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:355px;
  width:0px;
  height:0px;
}
#u237_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u237_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:33px;
  width:18px;
  height:18px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:355px;
  width:0px;
  height:0px;
}
#u238_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:649px;
}
#u238_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:641px;
  width:9px;
  height:8px;
}
#u238_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:641px;
  width:8px;
  height:17px;
}
#u238_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:646px;
  width:18px;
  height:18px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:322px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:944px;
  width:0px;
  height:0px;
}
#u239_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u239_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:18px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1179px;
  width:300px;
  height:64px;
  color:#FF0000;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1202px;
  width:300px;
  height:64px;
  color:#FF0000;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
