body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:937px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:138px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:122px;
  width:138px;
  height:52px;
  font-size:16px;
  color:#666666;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:199px;
  width:138px;
  height:52px;
  font-size:16px;
  color:#666666;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:289px;
  width:138px;
  height:52px;
  font-size:14px;
  color:#666666;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:134px;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:386px;
  width:102px;
  height:36px;
  font-size:16px;
  color:#666666;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:453px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:512px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:582px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(103, 194, 58, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:40px;
  width:138px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:122px;
  width:138px;
  height:52px;
  font-size:16px;
  color:#666666;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:729px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:69px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:775px;
  width:102px;
  height:69px;
  font-size:14px;
  color:#666666;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 162, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:788px;
  width:102px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:872px;
  width:102px;
  height:45px;
  color:#666666;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:98px;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:174px;
  width:0px;
  height:0px;
}
#u202_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u202_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:18px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:251px;
  width:0px;
  height:0px;
}
#u203_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u203_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:18px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:341px;
  width:0px;
  height:0px;
}
#u204_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u204_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:33px;
  width:18px;
  height:18px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:422px;
  width:0px;
  height:0px;
}
#u205_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u205_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:18px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:489px;
  width:0px;
  height:0px;
}
#u206_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u206_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:18px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:548px;
  width:0px;
  height:0px;
}
#u207_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u207_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:18px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:810px;
  width:0px;
  height:0px;
}
#u208_seg0 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:-4px;
  width:161px;
  height:8px;
}
#u208_seg1 {
  border-width:0px;
  position:absolute;
  left:-163px;
  top:-9px;
  width:18px;
  height:18px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:832px;
  width:0px;
  height:0px;
}
#u209_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u209_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:297px;
  width:66px;
  height:36px;
  font-size:16px;
  color:#666666;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:333px;
  width:0px;
  height:0px;
}
#u211_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u211_seg1 {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:67px;
  width:143px;
  height:8px;
}
#u211_seg2 {
  border-width:0px;
  position:absolute;
  left:-145px;
  top:62px;
  width:18px;
  height:18px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:315px;
  width:0px;
  height:0px;
}
#u212_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u212_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-9px;
  width:18px;
  height:18px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:844px;
  width:0px;
  height:0px;
}
#u213_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u213_seg1 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:47px;
  width:212px;
  height:8px;
}
#u213_seg2 {
  border-width:0px;
  position:absolute;
  left:-214px;
  top:42px;
  width:18px;
  height:18px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:886px;
  width:33px;
  height:18px;
  font-size:12px;
  color:#666666;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:306px;
  width:33px;
  height:18px;
  font-size:12px;
  color:#666666;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:351px;
  width:33px;
  height:18px;
  font-size:12px;
  color:#666666;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:801px;
  width:33px;
  height:18px;
  font-size:12px;
  color:#666666;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:650px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:686px;
  width:0px;
  height:0px;
}
#u219_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u219_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:650px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:668px;
  width:0px;
  height:0px;
}
#u221_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:420px;
  height:8px;
}
#u221_seg1 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:-9px;
  width:18px;
  height:18px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:618px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u222_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:20px;
  width:18px;
  height:18px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:174px;
  width:0px;
  height:0px;
}
#u223_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:480px;
}
#u223_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:464px;
  width:18px;
  height:18px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:230px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:765px;
  width:0px;
  height:0px;
}
#u224_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u224_seg1 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:41px;
  width:212px;
  height:8px;
}
#u224_seg2 {
  border-width:0px;
  position:absolute;
  left:-214px;
  top:36px;
  width:18px;
  height:18px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:828px;
  width:176px;
  height:64px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:948px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:1182px;
  width:142px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:69px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:1041px;
  width:102px;
  height:69px;
  font-size:14px;
  color:#666666;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:1058px;
  width:144px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:984px;
  width:0px;
  height:0px;
}
#u230_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u230_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:18px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1110px;
  width:0px;
  height:0px;
}
#u231_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u231_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:60px;
  width:18px;
  height:18px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:1076px;
  width:0px;
  height:0px;
}
#u232_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u232_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-9px;
  width:18px;
  height:18px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:1094px;
  width:0px;
  height:0px;
}
#u233_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:110px;
}
#u233_seg1 {
  border-width:0px;
  position:absolute;
  left:-147px;
  top:102px;
  width:151px;
  height:8px;
}
#u233_seg2 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:97px;
  width:18px;
  height:18px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:917px;
  width:0px;
  height:0px;
}
#u234_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u234_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:45px;
  width:491px;
  height:8px;
}
#u234_seg2 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:40px;
  width:18px;
  height:18px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:169px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
