body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:24px;
  width:850px;
  height:398px;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  text-align:left;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:300px;
  height:30px;
  text-align:left;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:400px;
  height:30px;
  text-align:left;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:30px;
  text-align:left;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:52px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:52px;
  text-align:left;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:300px;
  height:52px;
  text-align:left;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:52px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:30px;
  width:400px;
  height:52px;
  text-align:left;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:100px;
  height:52px;
  text-align:left;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:50px;
  height:60px;
  text-align:left;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:82px;
  width:300px;
  height:60px;
  text-align:left;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:82px;
  width:400px;
  height:60px;
  text-align:left;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:396px;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:82px;
  width:100px;
  height:60px;
  text-align:left;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:142px;
  width:50px;
  height:60px;
  text-align:left;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:142px;
  width:300px;
  height:60px;
  text-align:left;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:142px;
  width:400px;
  height:60px;
  text-align:left;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:142px;
  width:100px;
  height:60px;
  text-align:left;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:68px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:50px;
  height:68px;
  text-align:left;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:46px;
  word-wrap:break-word;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:68px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:202px;
  width:300px;
  height:68px;
  text-align:left;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:68px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:202px;
  width:400px;
  height:68px;
  text-align:left;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:202px;
  width:100px;
  height:68px;
  text-align:left;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:68px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:50px;
  height:68px;
  text-align:left;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:46px;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:68px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:270px;
  width:300px;
  height:68px;
  text-align:left;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:68px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:270px;
  width:400px;
  height:68px;
  text-align:left;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:270px;
  width:100px;
  height:68px;
  text-align:left;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:338px;
  width:50px;
  height:60px;
  text-align:left;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  word-wrap:break-word;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:338px;
  width:300px;
  height:60px;
  text-align:left;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:338px;
  width:400px;
  height:60px;
  text-align:left;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:338px;
  width:100px;
  height:60px;
  text-align:left;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
