body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:21px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:9px;
  width:350px;
  height:21px;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:30px;
  width:350px;
  height:45px;
  font-size:16px;
}
#u1305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:346px;
  word-wrap:break-word;
}
#u1306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arvo Bold', 'Arvo Regular', 'Arvo';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:29px;
  width:19px;
  height:29px;
  font-family:'Arvo Bold', 'Arvo Regular', 'Arvo';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:75px;
  width:350px;
  height:570px;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:46px;
  width:11px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:38px;
  width:33px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:502px;
  width:271px;
  height:36px;
  color:#FFFFFF;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:91px;
  width:334px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u1312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:146px;
  width:334px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u1313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:201px;
  width:334px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u1313_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u1314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:256px;
  width:334px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u1314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:159px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1316_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1316.selected {
}
#u1316_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1316.disabled {
}
#u1316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:162px;
  width:12px;
  height:12px;
}
#u1317_img.mouseOver {
}
#u1317.mouseOver {
}
#u1317_img.selected {
}
#u1317.selected {
}
#u1317_img.disabled {
}
#u1317.disabled {
}
#u1317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:159px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1319_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1319.selected {
}
#u1319_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1319.disabled {
}
#u1319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:162px;
  width:12px;
  height:12px;
}
#u1320_img.mouseOver {
}
#u1320.mouseOver {
}
#u1320_img.selected {
}
#u1320.selected {
}
#u1320_img.disabled {
}
#u1320.disabled {
}
#u1320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:100px;
  width:410px;
  height:149px;
}
#u1321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:455px;
  width:397px;
  height:116px;
  font-size:14px;
}
#u1322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
