body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2613px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:511px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:37px;
  width:300px;
  height:511px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:528px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:37px;
  width:300px;
  height:528px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:544px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:37px;
  width:300px;
  height:544px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:521px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:44px;
  width:300px;
  height:521px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:538px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:44px;
  width:300px;
  height:538px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:523px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1659px;
  top:52px;
  width:300px;
  height:523px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:499px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1980px;
  top:64px;
  width:300px;
  height:499px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:524px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:2313px;
  top:64px;
  width:300px;
  height:524px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:193px;
  width:129px;
  height:68px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:100px;
  width:283px;
  height:124px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:529px;
  width:300px;
  height:52px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:108px;
  width:300px;
  height:116px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:234px;
  width:300px;
  height:116px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:227px;
  width:0px;
  height:0px;
}
#u231_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u231_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-69px;
  width:8px;
  height:73px;
}
#u231_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-69px;
  width:85px;
  height:8px;
}
#u231_seg3 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:-74px;
  width:18px;
  height:18px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:162px;
  width:0px;
  height:0px;
}
#u232_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u232_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:401px;
}
#u232_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:389px;
  width:22px;
  height:8px;
}
#u232_seg3 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:384px;
  width:18px;
  height:18px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:189px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:555px;
  width:0px;
  height:0px;
}
#u233_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u233_seg1 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-254px;
  width:8px;
  height:258px;
}
#u233_seg2 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-254px;
  width:19px;
  height:8px;
}
#u233_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-259px;
  width:18px;
  height:18px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-133px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:61px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:319px;
  width:165px;
  height:61px;
  color:#FF0000;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:61px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:200px;
  width:96px;
  height:61px;
  color:#FF0000;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:95px;
  height:19px;
}
#u236p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:92px;
  height:6px;
}
#u236p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:6px;
}
#u236p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u236p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u236p002 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u236p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:1621px;
  top:309px;
  width:86px;
  height:1px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:399px;
  height:19px;
}
#u237p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:396px;
  height:6px;
}
#u237p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:6px;
}
#u237p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u237p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u237p002 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u237p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:1621px;
  top:162px;
  width:390px;
  height:1px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
