body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:511px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:37px;
  width:300px;
  height:511px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:528px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:37px;
  width:300px;
  height:528px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:540px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:37px;
  width:300px;
  height:540px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:37px;
  width:300px;
  height:534px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:535px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:37px;
  width:300px;
  height:535px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:541px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:1691px;
  top:37px;
  width:300px;
  height:541px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2026px;
  top:37px;
  width:300px;
  height:533px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:518px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2666px;
  top:37px;
  width:300px;
  height:518px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:193px;
  width:129px;
  height:68px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:223px;
  width:282px;
  height:135px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:516px;
  width:300px;
  height:61px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:211px;
  width:215px;
  height:61px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:494px;
  width:215px;
  height:61px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1702px;
  top:108px;
  width:289px;
  height:110px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:529px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2336px;
  top:37px;
  width:300px;
  height:529px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:227px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u112_seg1 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:-4px;
  width:8px;
  height:72px;
}
#u112_seg2 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:60px;
  width:74px;
  height:8px;
}
#u112_seg3 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:55px;
  width:18px;
  height:18px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:291px;
  width:0px;
  height:0px;
}
#u113_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u113_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-4px;
  width:8px;
  height:264px;
}
#u113_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:252px;
  width:33px;
  height:8px;
}
#u113_seg3 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:247px;
  width:18px;
  height:18px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:547px;
  width:0px;
  height:0px;
}
#u114_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:29px;
  height:8px;
}
#u114_seg1 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-309px;
  width:8px;
  height:313px;
}
#u114_seg2 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-309px;
  width:59px;
  height:8px;
}
#u114_seg3 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-314px;
  width:18px;
  height:18px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:242px;
  width:0px;
  height:0px;
}
#u115_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u115_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-4px;
  width:8px;
  height:291px;
}
#u115_seg2 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:279px;
  width:56px;
  height:8px;
}
#u115_seg3 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:274px;
  width:18px;
  height:18px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:129px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1702px;
  top:238px;
  width:289px;
  height:110px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:67px;
  height:19px;
}
#u117p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:64px;
  height:6px;
}
#u117p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:6px;
}
#u117p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u117p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u117p002 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u117p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1991px;
  top:163px;
  width:58px;
  height:1px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:372px;
  height:19px;
}
#u118p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:368px;
  height:6px;
}
#u118p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:6px;
}
#u118p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u118p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u118p002 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u118p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1991px;
  top:293px;
  width:363px;
  height:1px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:61px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:305px;
  width:165px;
  height:61px;
  color:#FF0000;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:525px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u120_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-366px;
  width:8px;
  height:370px;
}
#u120_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-366px;
  width:26px;
  height:8px;
}
#u120_seg3 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-371px;
  width:18px;
  height:18px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-162px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
