body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:138px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:122px;
  width:138px;
  height:52px;
  font-size:16px;
  color:#666666;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:199px;
  width:138px;
  height:52px;
  font-size:16px;
  color:#666666;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:289px;
  width:138px;
  height:52px;
  font-size:14px;
  color:#666666;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:134px;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:386px;
  width:102px;
  height:36px;
  font-size:16px;
  color:#666666;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:453px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:512px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:499px;
  width:246px;
  height:62px;
  font-size:14px;
  color:#FFFFFF;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:242px;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(103, 194, 58, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:40px;
  width:138px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:122px;
  width:138px;
  height:52px;
  font-size:16px;
  color:#666666;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:629px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:69px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:613px;
  width:102px;
  height:69px;
  font-size:14px;
  color:#666666;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 162, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:626px;
  width:102px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:710px;
  width:102px;
  height:45px;
  color:#666666;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:98px;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:790px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:1024px;
  width:142px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:174px;
  width:0px;
  height:0px;
}
#u68_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u68_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:18px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:251px;
  width:0px;
  height:0px;
}
#u69_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u69_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:18px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:341px;
  width:0px;
  height:0px;
}
#u70_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u70_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:33px;
  width:18px;
  height:18px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:422px;
  width:0px;
  height:0px;
}
#u71_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u71_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:18px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:489px;
  width:0px;
  height:0px;
}
#u72_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u72_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:18px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:647px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:-4px;
  width:150px;
  height:8px;
}
#u73_seg1 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:-4px;
  width:8px;
  height:9px;
}
#u73_seg2 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:-3px;
  width:15px;
  height:8px;
}
#u73_seg3 {
  border-width:0px;
  position:absolute;
  left:-163px;
  top:-8px;
  width:18px;
  height:18px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:648px;
  width:0px;
  height:0px;
}
#u74_seg0 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:-4px;
  width:161px;
  height:8px;
}
#u74_seg1 {
  border-width:0px;
  position:absolute;
  left:-163px;
  top:-9px;
  width:18px;
  height:18px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:670px;
  width:0px;
  height:0px;
}
#u75_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u75_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:297px;
  width:66px;
  height:36px;
  font-size:16px;
  color:#666666;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:333px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u77_seg1 {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:67px;
  width:143px;
  height:8px;
}
#u77_seg2 {
  border-width:0px;
  position:absolute;
  left:-145px;
  top:62px;
  width:18px;
  height:18px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:315px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-9px;
  width:18px;
  height:18px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:682px;
  width:0px;
  height:0px;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:47px;
  width:212px;
  height:8px;
}
#u79_seg2 {
  border-width:0px;
  position:absolute;
  left:-214px;
  top:42px;
  width:18px;
  height:18px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:724px;
  width:33px;
  height:18px;
  font-size:12px;
  color:#666666;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:306px;
  width:33px;
  height:18px;
  font-size:12px;
  color:#666666;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:351px;
  width:33px;
  height:18px;
  font-size:12px;
  color:#666666;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:639px;
  width:33px;
  height:18px;
  font-size:12px;
  color:#666666;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:512px;
  width:102px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:530px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u85_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-9px;
  width:18px;
  height:18px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:530px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:18px;
  height:18px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:548px;
  width:0px;
  height:0px;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u87_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:69px;
  width:18px;
  height:18px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:755px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:49px;
  width:471px;
  height:8px;
}
#u88_seg2 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:44px;
  width:18px;
  height:18px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:157px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:69px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:883px;
  width:102px;
  height:69px;
  font-size:14px;
  color:#666666;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:900px;
  width:144px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:826px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:18px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:952px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:60px;
  width:18px;
  height:18px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:918px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-9px;
  width:18px;
  height:18px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:936px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:110px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-147px;
  top:102px;
  width:151px;
  height:8px;
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:97px;
  width:18px;
  height:18px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:174px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:342px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:326px;
  width:18px;
  height:18px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:161px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:1149px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
