body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1266px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:21px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:350px;
  height:21px;
}
#u2300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:33px;
  width:350px;
  height:45px;
  font-size:16px;
}
#u2301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:78px;
  width:350px;
  height:570px;
}
#u2302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:594px;
  width:350px;
  height:54px;
}
#u2303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:601px;
  width:30px;
  height:30px;
}
#u2304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#409EFF;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:632px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#409EFF;
}
#u2305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:601px;
  width:30px;
  height:30px;
}
#u2307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:632px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:51px;
  width:55px;
  height:21px;
  font-size:18px;
}
#u2309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:107px;
  width:40px;
  height:40px;
  font-size:11px;
}
#u2310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u2311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#409EFF;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:107px;
  width:151px;
  height:17px;
  color:#409EFF;
}
#u2311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:134px;
  width:265px;
  height:17px;
  color:#999999;
}
#u2312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:180px;
  width:335px;
  height:1px;
}
#u2313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:192px;
  width:40px;
  height:40px;
  font-size:11px;
}
#u2314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u2315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#409EFF;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:192px;
  width:151px;
  height:17px;
  color:#409EFF;
}
#u2315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:219px;
  width:57px;
  height:17px;
  color:#999999;
}
#u2316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:267px;
  width:335px;
  height:1px;
}
#u2317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:278px;
  width:40px;
  height:40px;
  font-size:11px;
}
#u2318_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u2319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#409EFF;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:278px;
  width:151px;
  height:17px;
  color:#409EFF;
}
#u2319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:305px;
  width:265px;
  height:17px;
  color:#999999;
}
#u2320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:354px;
  width:335px;
  height:1px;
}
#u2321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:103px;
  width:15px;
  height:15px;
}
#u2322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:159px;
  width:69px;
  height:17px;
  color:#999999;
}
#u2323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:245px;
  width:69px;
  height:17px;
  color:#999999;
}
#u2324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:333px;
  width:65px;
  height:17px;
  color:#999999;
}
#u2325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:262px;
  width:443px;
  height:215px;
}
#u2326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  word-wrap:break-word;
}
#u2327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:232px;
  width:443px;
  height:17px;
}
#u2327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  word-wrap:break-word;
}
#u2328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:68px;
  width:462px;
  height:116px;
}
#u2328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  word-wrap:break-word;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:408px;
  width:329px;
  height:1px;
}
#u2329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:400px;
  width:188px;
  height:17px;
  color:#CCCCCC;
  text-align:center;
}
#u2330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:21px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:12px;
  width:350px;
  height:21px;
}
#u2331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:33px;
  width:350px;
  height:45px;
  font-size:16px;
}
#u2332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:78px;
  width:350px;
  height:570px;
}
#u2333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:594px;
  width:350px;
  height:54px;
}
#u2334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:601px;
  width:30px;
  height:30px;
}
#u2335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#409EFF;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:632px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#409EFF;
}
#u2336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:601px;
  width:30px;
  height:30px;
}
#u2337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:632px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:51px;
  width:55px;
  height:21px;
  font-size:18px;
}
#u2339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:295px;
  width:188px;
  height:17px;
  color:#CCCCCC;
  text-align:center;
}
#u2340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:601px;
  width:15px;
  height:15px;
}
#u2341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:598px;
  width:436px;
  height:33px;
  font-size:14px;
}
#u2342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  word-wrap:break-word;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:82px;
  width:340px;
  height:273px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
